header {
  background-color: #5d5d5d;
  color: #ffffff;
  font-size: 16px;
}

.product-card {
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.product-card img{
    width: 100%;
    height: 100%;
    transition: transform 0.3s; 
}

.cart-badge {
    position: relative;
    top: -8px;
    right: 5px;
}